<h2>Profile for <%= @profile.first_name %> <%= @profile.last_name %></h2>

<table class="table">
  <tbody>
    <tr>
      <td>User ID:</td>
      <td><%= @user.id %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= @email_first_letter %>****<%= @email_provider %></td>
    </tr>
    <tr>
  </tbody>
</table>
