 <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "e.g. jsmith@examle.com", :class => 'form-control' %>
  </div>
  
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "e.g. John", :class => 'form-control' %>
  </div>
  
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "e.g. Smith", :class => 'form-control' %>
  </div>
  
  <div class="field">
    <%= f.label :date_of_birth %><br />
    <%= f.date_field :date_of_birth, autofocus: true, :class => 'form-control' %>
  </div>
  
   <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location, autofocus: true, autocomplete: "e.g. London, UK", :class => 'form-control' %>
  </div>